$font-family-serif: "Fanwood Text", serif;
$font-family-sans-serif: "Open Sans", sans-serif;

$white: #ffffff;
$black: #000000;
$light-grey: #cccccc;

img {
}
body {
  background-color: $black;

}

.App {
  color: $white;
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

.Home {
  height: 100vh;
  text-align: center;
}

.Home-wrapper {
  text-align: justify;
  padding: 2rem;
  p {
    font-size: 0.9rem;
  }
}

a, .page-links {
  color: $white;
  text-decoration: none;
}

a:hover, .page-links:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:visited, .page-links:visited {
  text-decoration: none;
  color: $light-grey;
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; 
  text-align: center;
  padding: 2rem;
  a {
    .page-link {
      img  {
        width: 36px;
        height: 100%;
      }
      p {
        margin: 0.5rem 0;
      }
    }
  }
}

.page-navigation-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; 
  text-align: center;
  padding: 2rem;
  a {
    .page-link {
      img  {
        width: 36px;
        height: 100%;
      }
      p {
        margin: 0.5rem 0;
      }
    }
  }
}
// ====================
// navbar
// ====================
.Navbar-logo a:hover {
  text-decoration: none;
}

.Navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;

  .Navbar-bar {
    // background-color: $black;
    width: 100%;
    height: 80px;
    background: -webkit-linear-gradient(bottom, transparent, red);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, transparent, black);
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(black));
    background: -webkit-linear-gradient(bottom, transparent, black);
    background: -o-linear-gradient(bottom, transparent, black);
    background: linear-gradient(to top, transparent, black);
    /* Standard syntax (must be last) */
  }
  .Navbar-logo {
    opacity: 1;
    font-family: $font-family-serif;
    position: absolute;
    left: 2rem;
    top: 1rem;
  }
  .Navbar-links {
    opacity: 1;
    position: absolute;
    right: 2rem;
    top: 1rem;
    .Navbar-link {
      padding: 0 1.5rem;
    }
  }
}

// ======================
// burger navbar
// ======================
.Burger-navbar, .bm-burger-button {
  display: block;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 33px;
  height: 25px;
  right: 2rem;
  top: 2rem;
}

.bm-menu-wrap {
  bottom: 0;
  left: 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 33px;
  width: 33px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $light-grey;
}

/* General sidebar styles */
.bm-menu {
  background: $black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}

/* Wrapper for item list */
.bm-item-list {
  color: $light-grey;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 1);
}

// =============================
// responsive grid
// =============================
.wrapper {
  margin: 0 auto;
  padding: 0;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap; 
  flex-flow: row wrap;
}

.grid-box {
  font-family: $font-family-sans-serif;
}

.box {
    line-height: 0;
  position: relative;
  text-align: center;
  .box-number {
    display: none;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .responsive-img {
    // fix bottom margin? could be issue w position: relative
  }
}

.box:hover {  
  .box-number {
    display: block;
    // display: -webkit-inline-box;
  }
  .responsive-img {
    // display: -webkit-inline-box;
  }
  cursor: pointer;
}

.responsive-img {
  // flex: 1 0 100%; // flex: 1 0 50%
  // flex-basis: 100%; //added
}

.small-box {
  font-weight: 800;
  font-size: 3rem;
  img {
    height: 230px;
    width: 100%;
  }
}

.medium-box {
  font-size: 4.5rem;
  img {
    height: 400px;
    width: 100%;
  }
}

.large-box {
  font-size: 8.5rem;
  img {
    height: 100%; 
    width: 100%;
  }
}

// =======================
// Grid Opacity Styles
// =======================
.opacity {
  opacity: 0.4
}

.opacity:hover {
  opacity: 1;

}

// =========================
// Modal / sidebar / player
// =========================
.Modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  opacity: 1;
  width: 320px;
  height: 100vh;
  overflow: scroll;

}

.Modal:focus {
  outline: 0;
}

.button img {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  width: 33px;
  height: 33px;
}

.button:hover {
  cursor: pointer;
}

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  opacity: 1;
  width: 320px;
  height: 100vh;
  z-index: 2000;

}

// Sidebar
.Sidebar {
  font-family: $font-family-sans-serif;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  color: $white;
}

.player-container {
}

.song-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sidebar-number {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 4rem;
}

.sidebar-title {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: 1.3rem;
}

.sidebar-song-title {
  margin: 1.2rem 0 0 0;
  padding: 0;
  font-family: $font-family-serif;
  font-size: 1.4rem;
  -webkit-text-stroke: 1px $white;
  top:0;

}

.sidebar-artist {
  font-size: 1.2rem;
  font-style: italic;
}

.sidebar-line {
  margin-top: 0;
}

.sidebar-description {
  font-size: 1rem;
}

// =======================
// media queries =========
// =======================
// max-width
@media screen and (max-width: 680px) {
  .Navbar {
    display: none;
  }
  .large-box {
    font-size: 4.5rem;
  }
  
}

// min-width
@media screen and (min-width: 300px) {
  .small-box {
    width: calc((100% / 2) - 1%);
    img {
      height: 180px; 
    }
  }
  .Home-wrapper {
    padding: 6rem 3rem;
  } 
  .bm-burger-button {
    right: 3rem;
    top: 2rem;
  }
}

@media screen and (min-width: 500px) {
  .small-box {
    width: calc((100% / 3) - 1%);
    img {
      height: 33%;
    }
    .box h1 {
      // margin: 1.8rem 3rem;
    }
  }
  .medium-box {
    width: 50%;
    img {
      height: 50%; 
    }
  }
  .Home-wrapper {
    padding: 5rem 5rem;
  } 
  .Modal, .Overlay {
    width: 430px;
    height: 100vh;
  }
  .Sidebar {
    padding: 1.5rem 2rem;
  }
}

@media screen and (min-width: 680px) {
  .Burger-navbar, .bm-burger-button {
    display: none;
  }
  .small-box {
    width: calc(100% / 4);
    img {
      height: 25%;
    }
    .box h1 {
      // margin: 1.8rem 3rem;
    }
  }
  .wrapper {
    margin: 0;
  }
  .Home-wrapper {
    padding: 6rem 8rem;
  } 
}

@media screen and (min-width: 720px) {
  .wrapper {
    margin: 0;
  }
  .Home-wrapper {
    padding: 8rem 10rem;
  } 
}

@media screen and (min-width: 860px) {
  .Home-wrapper {
    padding: 8rem 13rem;
  }
}

@media screen and (min-width: 1000px) {
  .small-box {
    width: calc(100% / 6);
    img {
      height: 17%
    }
  }
  .Home-wrapper {
    padding: 10rem 16rem;
  } 
}


