$font-family-serif: "Fanwood Text", serif;
$font-family-sans-serif: "Open Sans", sans-serif;

$white: #ffffff;
$black: #000000;

.App {
  background-color: $black;
  color: $white;
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

.Home {
  text-align: center;
  h1 {
    font-family: $font-family-serif;
  }
}

.Navbar {
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .Navbar-logo {
    font-family: $font-family-serif;
  }
}

// =============================
// responsive grid
// =============================
.wrapper {
  margin: 0 auto;
  // max-width: 1200px;
  padding: 0;
}

.responsive-image {
  max-width: 100%;
}

.box h1 {
  position: absolute;
  margin: 0.5rem 3rem;
}

div.box {
  display: flex;
}

.small-box {
  font-family: $font-family-sans-serif;
  font-weight: 800;
  font-size: 3rem;
  // text-align: center;
  img {
    height: 230px;
    width: 100%;
  }
}

.medium-box {
  font-size: 4.5rem;
  img {
    height: 400px;
    width: 100%;
  }
}

.large-box {
  font-size: 8.5rem;
  img {
    height: 800px; 
    width: 100vw;
  }
}

@media screen and (min-width: 300px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .small-box {
    width: 50%;
    img {
      height: 180px; 
    }
  }
  .box h1 {
    margin: 0.5rem 1.5rem;
  }

}
@media screen and (min-width: 500px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .small-box {
    width: calc(100% / 3);
    img {
      height: 33%;
    }
    .box h1 {
      margin: 1.8rem 3rem;
    }
  }
  .medium-box {
    width: 50%;
    img {
      height: 50%; 
    }
  }
}

@media screen and (min-width: 650px) {
  .small-box {
    width: calc(100% / 4);
    img {
      height: 25%;
    }
    .box h1 {
      margin: 1.8rem 3rem;
    }
  }
  .wrapper {
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .small-box {
    width: calc(100% / 5);
    img {
      height: 20%;
    }
    .box h1 {
      margin: 1.8rem 3rem;
    }
  }
  .wrapper {
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .small-box {
    width: calc(100% / 6);
    img {
      height: 17%
    }
  }
}

// =======================
// Opacity Styles
// =======================
.opacity {
  opacity: 0.4
}

.opacity:hover {
  opacity: 1;
}

// =======================
// Modal 
// =======================
.Modal {
  position: absolute;
  top: 0;
  // left: 40px;
  right: 0;
  bottom: 0;
  background-color: $black;
  opacity: 1;
  width: 430px;
  height: 100vh;
}

.Modal:focus {
  outline: 0;
}

.Overlay {
  position: fixed;
  top: 0;
  // left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  opacity: 1;
  width: 430px;
  height: 100vh;
}

.sidebar {
  font-size: 2rem;
  color: $white;
}


