.App {
  background-color: #000000;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.Home {
  text-align: center; }
  .Home h1 {
    font-family: "Fanwood Text", serif; }

.Navbar a {
  color: #ffffff;
  text-decoration: none; }

.Navbar a:hover {
  text-decoration: underline;
  cursor: pointer; }

.Navbar .Navbar-logo {
  font-family: "Fanwood Text", serif; }
