.App {
  background-color: #000000;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.Home {
  text-align: center; }
  .Home h1 {
    font-family: "Fanwood Text", serif; }

.Navbar a {
  color: #ffffff;
  text-decoration: none; }

.Navbar a:hover {
  text-decoration: underline;
  cursor: pointer; }

.Navbar .Navbar-logo {
  font-family: "Fanwood Text", serif; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0; }

.responsive-image {
  max-width: 100%; }

.box h1 {
  position: absolute;
  margin: 0.5rem 3rem; }

div.box {
  display: flex; }

.small-box {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 3.5rem; }
  .small-box img {
    height: 230px;
    width: 100%; }

.medium-box {
  font-size: 4.5rem; }
  .medium-box img {
    height: 400px;
    width: 100%; }

.large-box {
  font-size: 5.5rem; }
  .large-box img {
    height: 800px;
    width: 100%; }

@media screen and (min-width: 300px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .small-box {
    width: 50%; }
    .small-box img {
      height: 180px; }
  .box h1 {
    margin: 0.5rem 1.5rem; } }

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .small-box {
    width: calc(100% / 3); }
    .small-box img {
      height: 230px; }
    .small-box .box h1 {
      margin: 1.8rem 3rem; }
  .medium-box {
    width: 50%; }
    .medium-box img {
      height: 400px; } }

@media screen and (min-width: 800px) {
  .small-box {
    width: calc(100% / 4); }
    .small-box .box h1 {
      margin: 1.8rem 3rem; } }

@media screen and (min-width: 1000px) {
  .small-box {
    width: calc(100% / 5); } }

/*
// tryign something new: this is the old code.
// =======================
// Responsive Grid 
// =======================
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-box {
  flex: 1 1 auto;
  background: tomato;
  color: white;
  border: 0.5px solid white;
  // font-family: $font-family-sans-serif;
  // font-weight: 800;
}

// =======================
// Box Styles
// =======================
// Small Box
.small-box {
  min-width: 230px;
  height: 230px;
  font-size: 3.5rem;
}

// Medium Box
.medium-box {
  min-width: 400px;
  height: 400px;
  font-size: 4.5rem;
}

// Large Box
.large-box {
  min-width: 800px;
  height: 800px;
  font-size: 5.5rem;
}

// Box
.box {
  display: flex; // this makes the font center itself
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box:hover {
  cursor: pointer
}

.responsive-img {
  max-width: 100%;
}
*/
.opacity {
  opacity: 0.4; }

.opacity:hover {
  opacity: 1; }
