$font-family-serif: "Fanwood Text", serif;
$font-family-sans-serif: "Open Sans", sans-serif;

$white: #ffffff;
$black: #000000;

.App {
  background-color: $black;
  color: $white;
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

.Home {
  text-align: center;
  h1 {
    font-family: $font-family-serif;
  }
}

.Navbar {
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .Navbar-logo {
    font-family: $font-family-serif;
  }
}

// =============================
// responsive grid
// =============================
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

.responsive-image {
  max-width: 100%;
}

.box h1 {
  position: absolute;
  margin: 0.5rem 3rem;
}

div.box {
  display: flex;
}

.small-box {
  font-family: $font-family-sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  // text-align: center;
  img {
    height: 230px;
    width: 100%;
  }
}

.medium-box {
  font-size: 4.5rem;
  img {
    height: 400px;
    width: 100%;
  }
}

.large-box {
  font-size: 5.5rem;
  img {
    height: 800px;
    width: 100%;
  }
}

@media screen and (min-width: 300px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .small-box {
    width: 50%;
    img {
      height: 180px; 
    }
  }
  .box h1 {
    margin: 0.5rem 1.5rem;
  }

}
@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .small-box {
    width: calc(100% / 3);
    img {
      height: 230px;
    }
    .box h1 {
      margin: 1.8rem 3rem;
    }
  }
  .medium-box {
    width: 50%;
    img {
      height: 400px; 
    }
  }
}

@media screen and (min-width: 800px) {
  .small-box {
    width: calc(100% / 4);
    .box h1 {
      margin: 1.8rem 3rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .small-box {
    width: calc(100% / 5);
  }
}
/*
// tryign something new: this is the old code.
// =======================
// Responsive Grid 
// =======================
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-box {
  flex: 1 1 auto;
  background: tomato;
  color: white;
  border: 0.5px solid white;
  // font-family: $font-family-sans-serif;
  // font-weight: 800;
}

// =======================
// Box Styles
// =======================
// Small Box
.small-box {
  min-width: 230px;
  height: 230px;
  font-size: 3.5rem;
}

// Medium Box
.medium-box {
  min-width: 400px;
  height: 400px;
  font-size: 4.5rem;
}

// Large Box
.large-box {
  min-width: 800px;
  height: 800px;
  font-size: 5.5rem;
}

// Box
.box {
  display: flex; // this makes the font center itself
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box:hover {
  cursor: pointer
}

.responsive-img {
  max-width: 100%;
}
*/
// =======================
// Opacity Styles
// =======================
.opacity {
  opacity: 0.4
}

.opacity:hover {
  opacity: 1;
}
